/* Using a more subtle scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #d8e1ea; /* secondary-container */
  border-radius: 10px;
}

/* Zebra striping for tables */
.zebra-table tbody tr:nth-child(even) {
  background-color: rgba(0, 89, 187, 0.02); /* very faint primary color */
}
