@tailwind base;
@tailwind components;
@tailwind utilities;

.mathflow-button {
  transition: all 0.1s ease-in-out;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.2);
}
.mathflow-button:active {
  box-shadow: none;
  transform: translateY(2px);
}